.outer-container-single-cocktail {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-single-cocktail {
    display: flex;
    width: 600px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--darkturquoise);
    border-radius: 20px;
    margin-top: 100px;
    padding: 30px 60px;
    box-shadow: 14px 22px 42px -10px rgba(55, 65, 79, 1);
}

.foto-singleCocktail {
    height: 250px;
    display: flex;
    justify-self: center;
    border-radius: 10px;
}

.content-single-cocktail {
    width: 50%;
    padding: 30px;
}

.ingredients-list {
    list-style-type: none;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-single-cocktail {
    color: var(--ghostwhite);
    font-weight: bolder;
    background-color: var(--lightgrey);
    border-radius: 20px;
    border-style: none;
    padding: 10px;
}

.button-single-cocktail:hover{
    cursor: pointer;
    box-shadow: 14px 22px 42px -10px rgba(55, 65, 79, 1);
}
