.outer-container-singleCocktail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.ingredients-list {
    list-style-type: none;
}

.foto-singleCocktail {
    width: 200px;
    vertical-align: middle;
    border-radius: 50px;
}
