.single-cocktail-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.6;
    margin-top: 100px;
    font-size: 30px;
}

.outer-container-single-cocktail {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-content-single-cocktail {
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 100px;
    padding: 30px 60px;
    box-shadow: 14px 22px 42px -10px rgba(55, 65, 79, 1);
}

.foto-singleCocktail {
    height: 250px;
    display: flex;
    justify-self: center;
    border-radius: 10px;
}

.content-single-cocktail {
    width: 80%;
    padding: 30px;
}

.ingredients-list {
    list-style-type: none;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.chevron-arrow-left {
    height: 30px;
}