.header-search-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.second-title-search-page {
    margin-top: 20px;
    margin-bottom: 50px;
}

.search-bar-container {
    margin-left: 30px;
}

.single-cocktail-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    margin-top: -200px;
}
