.homepage-header {
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--darkturquoise);
}

h1 {
    margin-top: 10px;
}

img {
    margin-top: 20px;
    width: 150px;
}

.random-cocktail-article {

    background-color: var(--darkturquoise)
}

.randomizer-button {
    max-width: 100px;
    max-height: 50px;
}

.day-cocktail-image {
    width: 400px;
}

.overview-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.random-cocktail-article {
    margin-left: 200px;
    margin-top: 100px;
    border: var(--lighterturquoise) 2px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    max-height: 450px;
    border: var(--lighterturquoise) 2px solid;
    margin-right: 200px;
    margin-top: 100px;
}

.latest-button, .top-ten-button {
    width: 600px;
    margin-bottom: 40px;
}
