.homepage-header {
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--darkturquoise);
}

h1 {
    margin-top: 10px;
}

.logo-image {
    margin-top: 40px;
    width: 150px;
    margin-bottom: 10px;
}

.overview-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.random-cocktail-article {
    background-color: var(--darkturquoise);
    margin-left: 150px;
    margin-top: 100px;
    border: var(--lighterturquoise) 5px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--lighterturquoise);
    font-weight: bolder;
    font-size: 20px;
    width: 400px;
    padding: 30px 50px;
    margin-bottom: 40px;
}

.one-random-cocktail img {
    width: 300px;
    min-height: 300px;
}

.randomizer-button {
    color: var(--ghostwhite);
    background-color: var(--lightgrey);
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bolder;
    max-height: 50px;
    width: 200px;
    border-style: none;
}

.randomizer-button:hover {
    box-shadow: 14px 22px 42px -10px rgba(55, 65, 79, 1);
    cursor: pointer;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    max-height: 450px;
    margin-right: 150px;
    margin-top: 40px;
}

.latest-button, .top-ten-button {
    width: 600px;
    margin-bottom: 40px;
}

.latest-button, .top-ten-button, .mixologist-button {
    background-color: var(--lightgrey);
    font-size: 20px;
    color: var(--ghostwhite);
    font-weight: bolder;
    border-radius: 40px;
    border-style: none;
    height: 100px;
}

.top-ten-button:hover, .mixologist-button:hover,.latest-button:hover {
    cursor: pointer;
    box-shadow: 14px 22px 42px -10px rgba(55, 65, 79, 1);
}
.help-text {
    margin-top: -30px;
    margin-bottom: 50px;
    font-size: 20px;
    color: var(--lighterturquoise);
    font-weight: bolder;
}