header {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;

}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
}

.title-homepage {
    margin-top: -50px;
    font-size: 35px;
    margin-bottom: 30px;
}

.logo-image {
    margin-top: -20px;
    width: 300px;
}

.overview-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 200px;
}

.random-cocktail-article {
    background: rgb(231, 165, 4);
    background: linear-gradient(90deg, rgba(231, 165, 4, 1) 16%, rgba(144, 27, 27, 1) 96%);
    margin-left: 150px;
    margin-top: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    width: 400px;
    padding: 30px 50px;
    margin-bottom: 40px;
}

.one-random-cocktail img {
    width: 300px;
    min-height: 300px;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    max-height: 450px;
    margin-right: 150px;
    margin-top: 40px;
    margin-left: 50px;
}

.latest-button, .top-ten-button {
    width: 600px;
    margin-bottom: 40px;
}

.latest-button, .top-ten-button, .mixologist-button {
    background-color: var(--roger-brown);
    font-size: 20px;
    color: var(--trudy-beige);
    font-weight: bolder;
    border-radius: 40px;
    border-style: none;
    height: 100px;
}

.top-ten-button:hover, .mixologist-button:hover, .latest-button:hover {
    cursor: pointer;
    box-shadow: 11px 13px 15px 0 rgba(0, 0, 0, 0.75);
}

.help-text {
    margin-top: -30px;
    margin-bottom: 50px;
    font-size: 20px;
    color: var(--trudy-beige);
    font-weight: bold;
}

.divider-line {
    width: 200px;
    margin-top: -100px;
    margin-bottom: -100px;
}