.navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    margin: 10px;
    background-color: var(--lightgrey);
    height: 80px;
    padding: 10px;
    color: var(--lighterturquoise);
}

.list-searchbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

input {
    background-color: navajowhite;
    border-radius: 10px;
    border-style: none;
    width: 200px;
    height: 25px;
    padding: 10px;
}

