.navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightgrey);
    height: 80px;
    padding: 10px;
    color: var(--lighterturquoise);
    width: 100%;
    flex-shrink: 0;
    border: 2px solid #28e3da;
}

.list-navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    text-decoration: snow;
    flex-shrink: 0;
}

input {
    background-color: navajowhite;
    border-radius: 10px;
    border-style: none;
    width: 300px;
    height: 40px;
    padding: 10px;
    flex-shrink: 1;
}

.navbar-elements-right {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.logout-button {
    background-color: var(--lighterturquoise);
    color: var(--lightgrey);
    padding: 10px;
    border-radius: 20px;
border-style: none;
    font-weight: bold;
    cursor: pointer;
}

.logout-button:active {
    box-shadow: 1px 6px 26px 6px rgba(0,0,0,0.47);
}