.search-bar-ingredient {
    background-color: var(--ghostwhite);
    border-radius: 10px;
    border-style: none;
    width: 300px;
    height: 40px;
    padding: 10px;
    outline: none;
}

.ingredient-search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.ingredient-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-left: 50px;
    margin-right: 50px;
    justify-items: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

