.search-bar-ingredient {
    background-color: var(--trudy-beige);
    border-radius: 10px;
    border-style: none;
    width: 300px;
    height: 40px;
    padding: 10px;
    outline: none;
}

.ingredient-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-items: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 50px 50px 100px;
}

