.outer-topTwentyOne-cocktail {

}
.inner-container-topTwentyOne {
    display: flex;
    align-items: center;

}

.topTwenty-cocktail-title {
   vertical-align: middle;
}



.foto-twentyOne-cocktail {
    padding-left: 10px;
    width: 300px;
}



.ingredients-list {
    list-style-type: none;
}

