.header-latest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: var(--trudy-beige);
}

.divider-line-latest {
    width: 200px;
    margin-bottom: -150px;
    margin-top: -50px;

}

.latest-cocktails-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-items: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 150px 50px 100px;
}

.cocktail-foto-latest-link {
    width: 200px;
    border-radius: 30px;
    border: 2px;
}

.latest-cocktail-name {
    margin-top: 10px;
}

.back-arrow {
    height: 50px;
}
.back-arrow-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    margin-bottom: 100px;
}