.header-top-twenty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: var(--trudy-beige);
}

.container-top-twenty {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    color: var(--roger-brown);
    font-weight: bolder;
    flex-shrink: 1;
    justify-items: center;
    align-items: center;
    margin: 150px 50px 100px;
}

.divider-line-top-twenty {
    width: 200px;
    margin-bottom: -150px;
    margin-top: -50px;
}

.back-arrow-tt-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 100px;
}

.back-arrow-tt {
    height: 50px;
}