.header-mixologist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    line-height: 1.6;
    margin-top: 100px;
}

.header-mixologist h2 {
    margin-top: 10px;
    margin-bottom: -50px;
}

.bartender-icon {
    width: 200px;
}

.mixologist-divider-line {
    width: 200px
}


