/*Colorpalette APP

grey dark : #222831 (background color)
turquoise / dark: #19BFB
white
grey light #37414f
lighter black #0d0f13
light turquoise #28e3da
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
