@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkestgrey: #222831;
    --black: #292929;
    --darkturquoise: #358e85;
    --lightgrey: #37414f;
    --lighterblack: #0d0f13;
    --lighterturquoise: #28e3da;
}

body, button, textarea {
    font-family: "Cabin", sans-serif;
    font-weight: 300;
    color: var(--black);
}

body {
    background-color: var(--lightgrey);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

nav a:link {
    color: whitesmoke;
}

nav a:visited {
    color: var(--lighterturquoise);
    font-weight: bold;
}

nav a:hover {
    color: var(--darkturquoise);
}

nav a:active {
    color: whitesmoke;
}
