@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --campbell-grey: #3a2c20;
    --don-red: #901b1b;
    --dark-don-red: #751616;
    --roger-brown: #3a2c20;
    --joan-blue: #76ADA8;
    --dark-joan-blue: #5c9993;
    --peggy-orange: #b65c11;
    --rizzo-green: #719842;
    --dark-rizzo-green: #66893b;
    --lane-white: #f8f8ff;
    --cooper-yellow: #e7a504;
    --dark-cooper-yellow: #d09404;
    --darkest-cooper-yellow: #b58103;
    --trudy-beige: #f1e2b3;
    --betty-blue: #1261BC;
    --romano-yellow: #FAAB1C;
    --sally-light-blue: #2490E9;
    --ginsberg-turquoise: #6fcb9f;
    --crane-grey: #8e8680;

}

body {
    background: rgb(231, 165, 4);
    background: linear-gradient(90deg, rgba(231, 165, 4, 1) 16%, rgba(144, 27, 27, 1) 96%);
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    color: var(--roger-brown);
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Georgia", sans-serif;
    color: var(--trudy-beige);
    letter-spacing: normal;
}

nav a {
    color: var(--peggy-orange);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--rizzo-green);
}

a {
    color: var(--roger-brown);
    text-decoration: none;
}

a:hover {
    color: var(--trudy-beige);
}

button {
    font-family: "Georgia", sans-serif;
}